version: 2
updates:
  - package-ecosystem: "docker"
    directories:
      - "/"
      - "/dev/caddy-gateway-proxy"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker-compose"
    directories:
      - "/"
      - "/dev/postgres"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directories:
      - "/backend"
      - "/e2e"
      - "/frontend"
      - "/library"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "@c4/library"

  - package-ecosystem: "pip"
    directories:
      - "/services/reis"
    schedule:
      interval: "daily"
