:3000 {
    encode

    handle /api/* {
        reverse_proxy localhost {
            header_up Host {host}
            header_up X-Real-IP {remote}

            # Important for SSE - disable response buffering
            flush_interval -1
        }
    }

    handle {
        rewrite /auth/*/callback /api{uri}
        redir /auth/* /api{uri} permanent
        redir /blobs/* /api{uri} permanent

        root * /app/frontend
        try_files {path} /index.html
        file_server
    }
}