:{$PORT} {
    encode

    handle /api/* {
        reverse_proxy c4-backend:3000 {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}

            # Important for SSE - disable response buffering
            flush_interval -1
        }
    }

    handle {
        rewrite /auth/*/callback /api{uri}
        redir /auth/* /api{uri} permanent
        redir /blobs/* /api{uri} permanent

        root * /srv
        try_files {path} /index.html
        file_server
    }
}