:{$PORT} {
	encode

	handle /api/* {
		reverse_proxy backend:{$BACKEND_PORT} {
			header_up Host {host}
			header_up X-Real-IP {remote}

			# Important for SSE - disable response buffering
			flush_interval -1
		}
	}

	handle {
		rewrite /auth/*/callback /api{uri}
		redir /auth/* /api{uri} permanent
		redir /blobs/* /api{uri} permanent
	}

	reverse_proxy frontend:{$FRONTEND_PORT} {
		header_up Host {host}
		header_up X-Real-IP {remote}

		# Important for SSE - disable response buffering
		flush_interval -1
	}
}
